@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.container-fluid {
    padding: 0;
}

.container-fluid .row {
    margin: 0;
}


/* Navbar */

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin-left: 96%;
    background-color: #333;
    border-radius: 15px;
    padding: 4px;
    
}

.navbar-brand {
    font-weight: bold;
    font-family: 'Goblin One', cursive;
    border-radius: 5px;
    font-size: 21px;
    padding: 10px;
}

#todo {
    color: #FFF;
    background-color: #333;
}

.header-bar {
    font-family: 'Goblin One', cursive;
    font-weight: bold;
    font-size: 21px;
    padding-top: 15px;
    padding-left: 30px;
}

.navbar-light .navbar-nav a.nav-link {
    color: #FFF;
    letter-spacing: 1.6px;
    font-weight: bold;
    
}


/* Login | Cadastrar */

.card-title {
    font-weight: bold;
}


/* Botão adicionar */

#add-link {
    text-decoration: none;
}

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
    font-family: 'Roboto', sans-serif;
}

.fas.fa-plus {
    color: #FFF;
    margin-right: 10px;
    margin-left: 5px;
}


/* Search */

.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 26px;
    cursor: pointer;
}

.search-div {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}


/* Lista de tarefas */

.list-div {
    padding: 0;
    font-weight: bold;
}

.task-list {
    padding-left: 0;
}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 2px dotted rgb(128, 127, 127);
}

.fas.fa-trash, .fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash {
    color: #d42148;
}

.fas.fa-edit {
    color: #1cb141;
}


/* Ver a Tarefa */

#text-title {
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    flex-direction : column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
    font-size: 30px;
}

#text-description {
    word-wrap: break-word;
    width: 70%;
    margin: auto;
    text-align: justify;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}



/* Rodapé */

footer {
    background-color: #333;
    height: 250px;
    width: 100%;
    border-top: 2px solid #202020;
    position: absolute;
    bottom: 0;
}

footer p {
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    
}

.linkedin {
    color: #f5f5f5;
    text-align: center;
    top: 42%;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.github {
    color: #f5f5f5;
    text-align: center;
    top: 42%;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}


/* Mensagem Deletar */

ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}


/* Paginação */

.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}