{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Task List</h1>
    <a id= "add-link" href= "{% url 'task-create' %}">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Add task
        </div>
    </a>
    <div class="col-9 search-div">
        <form method="GET" id="search-form">
            <input class="form-control" type="text" id="search" name="search" placeholder="Enter the name of the task to search" value="{{ search_input }}">
            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul class="task-list">
        {% for task in tasks %}
        <li class="task-item">
            {% if task.complete %}
            <span><s><a href="task/{{ task.id }}">{{ task.title }}</a></s></span>
            
            {% else %}
            <span><a href="task/{{ task.id }}">{{ task.title }}</a></span>
    
            {% endif %}
            <a href="deletetask/{{ task.id }}"><span><i class="fas fa-trash"></i></span></a>
            <a href="task-update/{{ task.id }}/"><span><i class="fas fa-edit"></i></span></a>
        </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if tasks.has_previous %}
                <a href="?page={{ tasks.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            {% if tasks.paginator.num_pages %}
            <span class="current">
                {{ tasks.number }} de {{ tasks.paginator.num_pages }}
            </span>
            {% endif %}

            {% if tasks.has_next %}
                <a href="?page={{ tasks.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}